/*ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
・セレクターは基本的にクラスセレクターを使用
・影響範囲を明確にするためにモジュール内で使用する小要素には、
  モジュールのルート要素のクラス名を継承させる
 ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/

/*================================================================
ページ全体に適用するスタイル
ly_ レイアウトグループ(lyout)
bl_ モジュールグループ(module)
el_ 小さめのモュール(element)
hp_ 汎用的に使用するクラス(helper)
================================================================*/

/* ベース
    =============================================================== */
body {
      font-family: "Helvetica Neue",         /*使いたいフォントがあれば変更*/
      Arial,
      "Hiragino Kaku Gothic ProN",
      "Hiragino Sans",
      Meiryo,
      sans-serif;
  }
  img {
      max-width: 100%;              /*フルーイドイメージ*/
      height: auto;                 /*親要素に合わせて自動で拡大縮小*/
  }
/* レイアウト
    =============================================================== */
.ly_cont {                          /*レイアウトグループhtmlでクラス指定*/
    /*左右中央揃えのための指定*/
    max-width: 1200px;              
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}